main {
  min-height: 80vh;
  margin-top: 1.5rem;
}

.rating {
  display: flex;
}
.rating_text {
  margin-left: 1rem;
}
.product_heading h2 {
  font-family: "Nunito";
}
.product_desc {
  font-family: "Poppins";
  font-weight: 300;
}
.product_price {
  font-size: 3rem;
  font-family: "Open Sans";
}
.product_name {
  font-family: "Open Sans" !important;
  color: #323232 !important;
}
.home-filter-info {
  margin-bottom: 2rem;
}
.home-filter-dropdown .dropdown .dropdown-toggle {
  background-color: #00c073 !important;
  width: 100% !important;
}

/* Sidebar */
.s-sidebar__trigger {
  z-index: 20;
  position: fixed;
  top: 1;
  right: 0;
  width: 100%;
  height: 4em;
  background: transparent;
}

.s-sidebar__trigger > i {
  display: inline-block;
  margin: 0em 0 0 1.5em;
  color: #f07ab0;
}

.s-sidebar__nav {
  position: fixed;
  top: 0em;
  left: -15em;
  overflow: hidden;
  transition: all 0.3s ease-in;
  width: 15em;
  height: 100%;
  background: #e0e2e7;
  color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
  left: 0;
}

.s-sidebar__nav ul {
  position: absolute;
  top: 4em;
  left: 0;
  margin: 0;
  padding: 0;
  width: 15em;
}

.s-sidebar__nav ul li {
  width: 100%;
}

.s-sidebar__nav-link {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
  color: var(--color-primary-1);
  font-family: "Poppins";
  font-size: 1.1rem;
  /* font-weight: bold; */
}

.s-sidebar__nav-link em {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
  font-style: normal !important;
}

.s-sidebar__nav-link:hover {
  background: var(--color-primary-2);
  /* opacity: 0.8; */
  color: #f3f4f6 !important;
}

.s-sidebar__nav-link > i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 4em;
  height: 4em;
}

.s-sidebar__nav-link > i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
  .s-layout__content {
    margin-left: 4em;
  }
  .s-sidebar__trigger {
    width: 4em;
  }

  .s-sidebar__nav {
    width: 4em;
    left: 0;
  }

  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav {
    width: 15em;
  }
}

@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 15em;
  }

  /* Sidebar */
  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 15em;
  }

  .s-sidebar__nav ul {
    top: 1.3em;
  }
}

/* Order Data */
.order-data-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.order-data {
  padding: 2rem 1rem 2rem 1rem;
  height: 170px;
  width: 320px;
  border-radius: 10px;
}
.order-data div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-data p {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins";
}

.order-data div h4 {
  font-family: "Nunito";
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 1rem;
}
.order-data div i {
  font-size: 1.5rem;
  margin-top: -0.5rem;
}
.order-delivered {
  background-color: #e5fbe5;
}
.order-pending {
  background-color: #fbe5fb;
}
.order-total {
  background-color: #cfcff8;
}
.order-data-table {
  margin-top: 4rem !important;
}
.odt-heading {
  font-family: "Poppins";
  font-size: 1.9rem !important;
  margin-bottom: 1rem;
}
.sale-dw-info .dropdown .dropdown-toggle {
  background-color: #00c073 !important;
}
.sale-month-wise {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.sale-month-wise h2 {
  font-family: "Nunito";
}
