main {
  min-height: 80vh;
  margin-top: 1.5rem;
}

.rating {
  display: flex;
}
.rating_text {
  margin-left: 1rem;
}
.product_heading h2 {
  font-family: "Nunito";
}
.product_desc {
  font-family: "Poppins";
  font-weight: 300;
}
.product_price {
  font-size: 3rem;
  font-family: "Open Sans";
}
.product_name {
  font-family: "Open Sans" !important;
  color: #323232 !important;
}
