/* Hero Section */
/* linear-gradient(135deg, #81fbb8 10%, #28c76f 100%); */

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 2rem;
  /* background-color: #568c3c; */
  height: 90vh;
  /* background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23ffffff' stroke-width='59' stroke-opacity='0.05' %3E%3Ccircle fill='%2381fbb8' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%237cf8b4' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2377f5af' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2371f2ab' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%236cefa7' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2367eca3' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2362e99e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%235ce69a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2357e396' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%2352df91' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%234ddc8d' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%2347d989' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2342d684' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%233dd380' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2338d07c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2332cd78' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232dca73' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2328c76f' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%2381fbb8' stroke-width='59' stroke-opacity='0.05' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f8fffb' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f0fff7' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e9fef2' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e1feee' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23dafeea' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23d3fee6' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23cbfde2' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23c4fdde' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23bcfdd9' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23b5fdd5' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23adfcd1' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23a6fccd' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%239ffcc9' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2397fcc5' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2390fbc0' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2388fbbc' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%2381fbb8' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.hero_text {
  width: 40%;
  margin-left: 8rem;
}
.hero_text h1 {
  font-family: "Asap";
  font-weight: 600;
  font-size: 4rem;
  color: #333;
}
.hero_text p {
  font-size: 1.5rem;
  color: rgb(42, 37, 37);
}
.hero_img {
  margin-right: 4rem;
}

/* Navbar */
.navbar {
  z-index: 10;
  font-size: 1.2rem;
}

.nav-item {
  margin: auto;
}
.nav-item a {
  margin: 0 0.4rem;
  position: relative;
}

.nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #568c3c;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .nav-item a:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* Buttons */

.btn-grad {
  background-image: linear-gradient(
    to right,
    #7d5a50 0%,
    #b4846c 51%,
    #c68c59e1 100%
  );
}
.btn-grad {
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  border: none;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
